@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #ffffff;
  --bg-secondary: #F9FAFB;
  --bg-brand-section: #53389E;

  --bg-button-primary: #7F56D9;

  --utility-brand-50: #F9F5FF;
  --utility-brand-200: #E9D7FE;
  --utility-brand-700: #6941C6;

  --fg-brand-secondary: #9E77ED;

  --border-secondary: #EAECF0;

  --foreground: #101828;
  --text-primary: #ffffff;
  --text-secondary: #475467;
  --text-tertiary: #E9D7FE;
  --text-brand-tertiary: #7F56D9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #ffffff;
    --foreground: #101828;
  }
}

body {
  color: var(--foreground);
  background: var(--bg-primary);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
