@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #ffffff;
  --bg-brand-section: #53389E;
  --bg-button-primary: #7F56D9;

  --foreground: #101828;
  --text-primary: #ffffff;
  --text-tertiary: #E9D7FE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #ffffff;
    --foreground: #101828;
  }
}

body {
  color: var(--foreground);
  background: var(--bg-primary);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
